<div class="sidebar">
  
  <h2>Musketeer ACARS</h2>

  <div class="status">
    <img src="assets/icons/connected.svg"  class="fsuipc" alt="FSUIPC Connected" *ngIf="fsuipcConnectionStatus">
    <img src="assets/icons/not_connected.svg" class="fsuipc" alt="FSUIPC Disconnected" *ngIf="!fsuipcConnectionStatus">
    <img src="assets/icons/http_connected.svg"  class="http" alt="Server Connected" *ngIf="httpConnectionStatus">
    <img src="assets/icons/http_disconnected.svg" class="http" alt="Server Disconnected" *ngIf="!httpConnectionStatus">
    <div class="tool-tip fsuipc">
      <span *ngIf="fsuipcConnectionStatus">FSUIPC connected</span>
      <span *ngIf="!fsuipcConnectionStatus">FSUIPC not connected</span>
    </div>
    <div class="tool-tip http">
      <span *ngIf="httpConnectionStatus">Server connected</span>
      <span *ngIf="!httpConnectionStatus">Server not connected</span>
    </div>
  </div>

  <a routerLink="home" routerLinkActive="active-route">Pilot Center</a>
  <a routerLink="bookings" routerLinkActive="active-route">Bookings</a>
  <a routerLink="freeflight" routerLinkActive="active-route">Free Flight</a>
  <a routerLink="weather" routerLinkActive="active-route">Weather</a>
  <a routerLink="log-book" routerLinkActive="active-route">Log-Book</a>
  <a routerLink="live-map" routerLinkActive="active-route">Live-Map</a>
  <a routerLink="flight-progress" routerLinkActive="active-route">Active Flight</a>
  <a routerLink="simbrief" routerLinkActive="active-route">Briefing</a>
  <a (click)="onTracking()" class="action-link">Start Tracking</a>
  <a (click)="testSimbrief()" class="action-link">test simbrief</a>


</div>

<div class="outlet">
  <app-spinner *ngIf="isLoading" [@inOutAnimation]></app-spinner>
  <router-outlet></router-outlet>
</div>
