:host {
  display: flex;
  flex-direction: row;
  background: rgba($color: #222222, $alpha: 0.6);
}

ul {
  padding-left: 0px;
  list-style: none;
  max-height: 210px;
  overflow-y: auto;
}

li {
  padding: 5px;
  border: 1px solid #515151;
  border-bottom: none;
  background: rgba($color: #424242, $alpha: 0.6)
}

li:first-child {
  border-radius: 10px 10px 0px 0px;
}

li:last-child {
  border-radius: 0px 0px 10px 10px;
  border-bottom: 1px solid #515151;
}

li:hover {
  background: rgba($color: #222222, $alpha: 0.6);
  cursor: pointer;
}