<div class="p-16" *ngIf="pilot">
  <h2 class="greeting">
    Welcome back, {{pilot.firstName}} {{pilot.name}}!
  </h2>
  
  <h3><span class="w-400 light">Your current Location: </span>{{pilot.currentLocation | uppercase}}</h3>
  <h3><span class="w-400 light">
    Your current rank: </span>{{pilot.rank | uppercase}}
    <img src="assets/icons/ranks/1.png" class="rank-icon" *ngIf="pilot.rank == ranks.STUDENT">
    <img src="assets/icons/ranks/2.png" class="rank-icon" *ngIf="pilot.rank == ranks.PRIVATE_PILOT">
    <img src="assets/icons/ranks/3.png" class="rank-icon" *ngIf="pilot.rank == ranks.SECOND_OFFICER">
    <img src="assets/icons/ranks/4.png" class="rank-icon" *ngIf="pilot.rank == ranks.JUNIOR_FIRST_OFFICER">
    <img src="assets/icons/ranks/5.png" class="rank-icon" *ngIf="pilot.rank == ranks.FIRST_OFFICER">
    <img src="assets/icons/ranks/6.png" class="rank-icon" *ngIf="pilot.rank == ranks.SENIOR_FIRST_OFFICER">
    <img src="assets/icons/ranks/7.png" class="rank-icon" *ngIf="pilot.rank == ranks.CAPTAIN">
    <img src="assets/icons/ranks/8.png" class="rank-icon" *ngIf="pilot.rank == ranks.FLIGHT_CAPTAIN">
    <img src="assets/icons/ranks/9.png" class="rank-icon" *ngIf="pilot.rank == ranks.SENIOR_CAPTAIN">
    <img src="assets/icons/ranks/10.png" class="rank-icon" *ngIf="pilot.rank == ranks.VA_TRANSPORT_PILOT">
  </h3>
  
  <h4><span class="w-400 light">Total Hours: </span>{{pilot.flightHours | number:'1.0-0'}}</h4>
  <h4><span class="w-400 light">Total Flights: </span>{{pilot.totalFlights | number:'1.0-0'}}</h4>
  <h4><span class="w-400 light">Total Pax carried: </span>{{pilot.totalPax | number:'1.0-0'}}</h4>
  <h4><span class="w-400 light">Total Distance Flown: </span>{{pilot.totalDistance | number:'1.0-0'}} NM</h4>
</div>

<div class="p-16">
  <h2>Company Anouncements</h2>
  <ul>
    <li>Annoucement 1</li>
    <li>Annoucement 2</li>
    <li>Annoucement 3</li>
    <li>Annoucement 4</li>
    <li>Annoucement 5</li>
    <li>Annoucement 6</li>
    <li>Annoucement 7</li>
    <li>Annoucement 8</li>
    <li>Annoucement 9</li>
    <li>Annoucement 10</li>
    <li>Annoucement 11</li>
  </ul>
</div>
