<div class="p-16">
  <h2 class="greeting">
    Welcome back, PILOT!
  </h2>
  
  <h3><span class="w-400 light">Your current Location: </span>EDDF</h3>
  <h3><span class="w-400 light">Your current rank: </span>CAPTAIN</h3>
  
  <h4><span class="w-400 light">Total Hours: </span>200</h4>
  <h4><span class="w-400 light">Total Flights: </span>39</h4>
  <h4><span class="w-400 light">Total Pax carried: </span>3,521</h4>
  <h4><span class="w-400 light">Total Distance Flown: </span>12,512 NM</h4>
</div>

<div class="p-16">
  <h2>Company Anouncements</h2>
  <ul>
    <li>Annoucement 1</li>
    <li>Annoucement 2</li>
    <li>Annoucement 3</li>
    <li>Annoucement 4</li>
    <li>Annoucement 5</li>
    <li>Annoucement 6</li>
    <li>Annoucement 7</li>
  </ul>
</div>
